*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 87%;
	margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.col-1{
    width: 8.33%;
    padding: 0 12px;
}

.col-2{
	width: 16.66%;
	padding: 0 12px;
}

.col-3{
	width: 25%;
	padding: 0 12px;
}

.col-4{
	width: 33.33%;
	padding: 0 12px;
}

.col-5{
	width: 41.66%;
	padding: 0 12px;
}

.col-6{
	width: 50%;
	padding: 0 12px;
}

.col-7{
	width:58.33% ;
	padding: 0 12px;
}

.col-8{
	width:66.66% ;
	padding: 0 12px;
}

.col-9{
	width:75% ;
	padding: 0 12px;
}

.col-10{
	width:83.33% ;
	padding: 0 12px;
}

.col-11{
	width: 91.66%;
	padding: 0 12px;
}


.col-12{
	width: 100%;
	padding: 0 12px;
}
section{
	padding:60px 0px;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.icon{
	color: green;
	padding: 10px;
	font-size: 20px;
}
.ital{
	font-style: italic;
}
.text-align{
	text-align: center;
}
.text-end{
	text-align: end;
}

/* *******'''''''''''''''''' Header '''''''''''''''''''''********* */
header{
	width: 100%;
	padding: 10px 0px;
    position: fixed;
    z-index: 100;
    background-color: white;
}
header .h-menu, .h-but{
	padding: 12px 0px;
}
header h1 a{
	font-family: Poppins, sans-serif;
	font-weight: 700;
	color: lightgreen;
}
header .list{
	display: flex;
	justify-content: space-evenly;
}
header .list .active{
	color: lightgreen;
	font-size: 15px;
	font-family: Poppins, sans-serif;
	font-weight: 600;
}
header .list a{
	color: black;
	display: flex;
	font-family: Poppins, sans-serif;
	font-size: 15px;
}
header .list a:hover{
	color: lightgreen;
	transition: 0.7s;
}
header .list .drop-down{
	position: relative;

}
header .list .drop-down li a{
	padding: 10px 16px;
}
header .list .drop-down ul{
	display: none;
	padding: 10px 0px;
}
header .list .drop-down:hover  ul{
	display: block;
	position: absolute;
	height: 14em;
	width: 180px;
	background-color: white;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.9s;
    border-radius: 4px;
}
header .list .drop-down .deep-down ul{
	visibility: hidden;
	position: absolute;
	left: 11.5em;
    top: 5em;
}
header .list .drop-down .deep-down:hover  ul{
	visibility: visible;
	transition: 0.9s;
}
header .but a{
	border-radius: 25px;
	background-color: #5fcf80;
	padding: 10px 35px;
	margin-top: 10px;
	color: white;
}
/* *******''''''''''''''''''End Header '''''''''''''''''''''********* */


/* *******'''''''''''''''''' Home '''''''''''''''''''''********* */
.home{
	background-image: linear-gradient(56deg, #37423b7a, #37423b70), url(img/hero-bg.jpg);
	height: 34em;
    display: flex;
    align-items: center;
	background-size: cover;
	background-attachment: fixed;
}
.h-content{
	margin-top: 70px;
}
.h-content h2{
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}
.h-content p{
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}
.home .h-but{
	padding: 27px 0px;
}
.home .h-but a{
	border-radius: 25px;
	border: 2px solid;
	padding: 10px 35px;
	margin-top: 10px;
	border-color: white;
	color: white;
}
.home .h-but a:hover{
	background-color: #5fcf80;
	border-color: #5fcf80;
	transition: 0.8s;
}

/* *******''''''''''''''''''End Home '''''''''''''''''''''********* */


/* *******'''''''''''''''''' About '''''''''''''''''''''********* */
.about h3{
	font-family: Raleway, sans-serif;
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 16px;
}
.about p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 1px;
}
.about ul{
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	margin-bottom: 16px;
}
.about li{
	margin-bottom: 7px;
}
.about img{
	max-width: 100%;
	height: auto ;
	background-size: cover;
}
/* *******''''''''''''''''''End About '''''''''''''''''''''********* */


/* *******'''''''''''''''''' Counter '''''''''''''''''''''********* */
.counter{
	padding: 30px 0px;
	background-color: #9e9e9e38;
}
.counter h4{
	font-family: sans-serif;
	font-weight: 700px;
	font-size: 48px;
	color: #5fcf80;
	margin-top: 25px;
}
.counter p{
   font-family: "Raleway", sans-serif;
   font-weight: 600px;
   font-size: 15px;
   color: #37423b;
   margin-bottom: 25px;
}

/* *******''''''''''''''''''End Counter '''''''''''''''''''''********* */


/* *******'''''''''''''''''' Why-mentor '''''''''''''''''''''********* */
.why-mentor .why{
	background-color: #5fcf80;
	padding: 40px;
	border-radius: 5px;
}
.why-mentor .why h5{
    font-family: "Raleway", sans-serif;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 30px;
    color: white;
}
.why-mentor .why p{
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    color: white;
}
.why-mentor .w-btn i{
    color: #eef0ef;
    padding: 6px;
    font-size: 10px;
}
.why-mentor .w-btn{
	font-family: sans-serif;
	border-radius: 25px;
	padding: 10px 35px;
	margin-top: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
}
.why-mentor .w-btn:hover {
	background-color: white;
	color: #5fcf80;
	transition: 0.9s;
}
.why-mentor .w-btn:hover i{
	color: #5fcf80;
	transition: 0.9s;
}
.why-mentor .w-content{
	border:1px solid;
	border-color: #eef0ef;
	border-radius: 9px;
	padding: 16px;
	margin: 20px 0px;
}
.why-mentor .w-content div{
	margin-top: 50px;
}
.why-mentor .w-content .icon{
	background-color: #9e9e9e38;
	font-size: 20px;
    border-radius: 50px;
    padding: 20px;
}
.why-mentor .w-content h5{
	font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;
}
.why-mentor .w-content p{
	font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
/* *******''''''''''''''''''End Why-mentor '''''''''''''''''''''********* */


/* *******'''''''''''''''''' Packegs '''''''''''''''''''''********* */
.packegs .col-3{
	padding: 10px;
}
.packegs .border{
	padding: 10px;
	border: 1px solid #eef0ef;
}
.packegs .border .row{
	justify-content: flex-start;
}
.packegs .border i{
	color: greenyellow;
	padding: 0px 20px;
	font-size: 35px;
}
.packegs .border a{
	font-family: Raleway, sans-serif;
	font-size: 14px;
	color: black;
	padding-top: 9px;
	font-weight: 600;
}
.packegs .border:hover {
	border-color: #5fcf80;
	transition: 0.5s;
}
.packegs .border:hover a {
	color: #5fcf80;
	transition: 0.5s;
}
.packegs .border:hover i {
	color: red;
	transition: 0.5s;
}

/* *******''''''''''''''''''End Packegs '''''''''''''''''''''********* */


/* *******'''''''''''''''''' Courses '''''''''''''''''''''********* */
.courses .header{
	margin-bottom: 50px;
}
.courses .header span{
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    letter-spacing: 4px;
    font-weight: bold;
}
.courses .header span::after{
	content: "";
    width: 20%;
    height: 1px;
    display: inline-block;
    background: greenyellow;
    margin: 4px 10px;
}
.courses .header h6{
	font-size: 36px;
	font-weight: 700;
	font-family: "Poppins", sans-serif;
    color: #37423b;
}
.courses .c-bg1{
	background-image: url("img/course-1.jpg");
	width: 100%;
	height: 12em;
	background-size: cover;
	margin-bottom: 8px;
}
.courses .c-bg2{
	background-image: url("img/course-2.jpg");
	width: 100%;
	height: 12em;
	background-size: cover;
	margin-bottom: 8px;
}
.courses .c-bg3{
	background-image: url("img/course-3.jpg");
	width: 100%;
	height: 12em;
	background-size: cover;
	margin-bottom: 8px;
}
.courses .flex{
	justify-content: space-between;
	margin-bottom: 1rem;
}
.courses h2{
	font-family: Raleway, sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: white;
	padding: 5px;
	background-color: #5fcf80;
}
.courses span{
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 20px;
}
.courses a{
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: black;
}
.courses h3{
    margin-bottom: 10px;
}
.courses h3:hover a{
   color: #5fcf80;
   transition: 0.9s;
}
.courses p{
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	margin-bottom: 1rem;
}
.courses .left span{
	font-size: 16px;
	font-weight: 500;
	margin-left: 15px;
	padding: 13px 0px;
}
.courses .left{
	display: flex;
}
.courses .left img{
	width: 100%;
	height: 3em;
	background-size: cover;
	border-radius: 50%;
}
.courses .right{
	margin: 14px 0px;
}
.courses i{
	padding: 0px 5px;
}
/* *******''''''''''''''''''End Courses '''''''''''''''''''''********* */


/* *******'''''''''''''''''' Trainer '''''''''''''''''''''********* */
.trainers .t-bg1{
	background-image: url("img/trainers/trainer-1.jpg");
	width: 100%;
	height: 24em;
	background-position: center;
	background-size: cover; 
	margin-bottom: 25px;  
}
.trainers .t-bg2{
	background-image: url("img/trainers/trainer-2.jpg");
	width: 100%;
	height: 24em;
	background-position: center;
	background-size: cover;   
	margin-bottom: 25px;
}
.trainers .t-bg3{
	background-image: url("img/trainers/trainer-3.jpg");
	width: 100%;
	height: 24em;
	background-position: center;
	background-size: cover;  
	margin-bottom: 25px; 
}
.trainers h1{
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 700;
}
.trainers span{
   font-family: "Open Sans", sans-serif;
   font-size: 13px;
}
.trainers p{
	padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
}
.trainers .i{
	justify-content: center;
	margin-top: 10px;
}
.trainers .icon{
	color: #7e9486;
}
.trainers .icon:hover {
	color: green;
	transition: 0.9s;
}

/* *******''''''''''''''''''End Trainer '''''''''''''''''''''********* */


/* *******'''''''''''''''''' contact '''''''''''''''''''''********* */
.contact h2{
	font-family: "Raleway", sans-serif;
	font-size: 2em;
	font-weight: 300;
	padding-bottom: 10px;
}
.contact .mentor p{
	font-size: 14px;
	margin-bottom: 10px;
    font-family: "Raleway", sans-serif;
    color: #777777;
}
.contact .mentor p span{
	font-weight: bold;
	font-family: sans-serif;
}
.contact h3{
	font-size: 16px;
	font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #444444;
    padding-bottom: 12px;
}
.contact a{
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	padding-left: 5px;
	color: rgb(119, 119, 119);
}
.contact .bi{
	color: yellowgreen;
	font-size: 20px;
}
.contact .flex{
	display: inline-grid;
}
.contact a:hover{
    color: yellowgreen;
    transition: 0.9s;
}
.contact .Subscribe p{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
}
.contact .Subscribe input{
	border-radius: 30px;
    padding: 10px 50px;
    border: 0.8px solid;
    border-color: #777777;
}
.contact .Subscribe form{
	position: relative;
}
.contact .Subscribe .button{
	border-radius: 30px;
	font-family: "Open Sans", sans-serif;
	color: white;
	border: 0px;
    padding: 10px 30px;
    background-color: lightgreen;
    margin-top: 17px;
    position: absolute;
    left: 11em;
    top: -18px;
}
.contact .Subscribe .button:hover {
	background-color: #3ac162;
	transition: 0.8s;
}
/* *******''''''''''''''''''End contact '''''''''''''''''''''********* */


/* *******'''''''''''''''''' footer '''''''''''''''''''''********* */
footer{
	background-color: #aaaaaa75;
	padding: 30px;
}
footer p{
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	padding-bottom: 10px;
}
footer a{
	font-family:"Poppins", sans-serif;
	color: yellowgreen;
	font-weight: bold;
}
footer i{
	height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
    font-size: 25px;
    color: white;
    text-align: center;
    background-color: rgb(95, 207, 128);
    border-radius: 50%;
}
footer .row{
	justify-content: end;
}
footer i:hover{
	background-color: lightgreen;
	transition: 0.9s;
}
/* *******''''''''''''''''''End footer '''''''''''''''''''''********* */

